---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Target the avatar image with the class u-photo */
.u-photo {
    border-radius: 0 !important;  /* Remove the circular border */
    width: 180px !important;      /* Adjust width as needed */
    height: 200px !important;     /* Adjust height as needed */
    border: none !important;
  }